src/test/resources/it/techgap/challenge/java/senior/schema.dtd


<!ELEMENT dataset (EMPLOYEE*, SUBORDINATE*)>

<!ELEMENT EMPLOYEE EMPTY>
<!ELEMENT SUBORDINATE EMPTY>
<!ATTLIST EMPLOYEE
    CF ID #REQUIRED
    AGE CDATA #IMPLIED
    SALARY CDATA #IMPLIED    
>
<!ATTLIST SUBORDINATE
    CF CDATA #REQUIRED
    AGE CDATA #IMPLIED
    SALARY CDATA #IMPLIED
    MANAGER_CF IDREF #IMPLIED
>
